@model DVCP.ViewModel.FileViewModel
@{
    ViewBag.Title = "Trình quản lý file";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-12">
        <!-- Call the view of the file manager -->
        @Html.Partial("FilesForm", Model)
    </div>
</div>

