[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

@@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);

[data-notify="container"][class*="alert-pastel-"] {
    background-color: rgb(255, 255, 238);
    border-width: 0px;
    border-left: 15px solid rgb(255, 240, 106);
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
    font-family: /*-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",Arial,*/ 'Old Standard TT', serif;
    letter-spacing: 1px;
}

[data-notify="container"].alert-pastel-info {
    border-left-color: rgb(255, 179, 40);
}

[data-notify="container"].alert-pastel-danger {
    border-left-color: rgb(255, 103, 76);
}

[data-notify="container"][class*="alert-pastel-"] > [data-notify="title"] {
    color: rgb(80, 80, 57);
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

[data-notify="container"][class*="alert-pastel-"] > [data-notify="message"] {
    font-weight: 400;
}
